<h1>Fill in the infomation below to see your shipping cost.</h1>
    <form action='/packageInput'>
      <div class='form-group'>
        <input id='length' name='length' class='form-control' type='text' placeholder="Length">
      </div>
      <div class='form-group'>
        <input id='width' name='width' class='form-control' type='text' placeholder="Width">
      </div>
      <div class='form-group'>
        <input id='height' name='height' class='form-control' type='text' placeholder="Height">
      </div>
      <div class='form-group'>
        <input id='weight' name='weight' class='form-control' type='text' placeholder="Weight">
      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
